
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">© <a href="http://icm.lge.com">LG Soft India Pvt. Ltd.</a> 2017</span>
    <span class="pull-right">
      <a href="#"><i class="fa fa-github fa-lg"></i></a>
      <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="mailto:icm-feedback@lge.com"><i class="fa fa-envelope fa-lg"></i></a>
    </span>
  </p>
</footer>
